<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaDeGerenciamento.Properties.Settings.BD_ProjetoControleEstoqueConnectionString"
            connectionString="Data Source=DESKTOP-NTF36S4;Initial Catalog=BD_ProjetoControleEstoque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaDeGerenciamento.Properties.Settings.BD_EntradaConnectionString"
            connectionString="Data Source=DESKTOP-NTF36S4;Initial Catalog=BD_Entrada;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaDeGerenciamento.Properties.Settings.BD_SistemaGerenciamentoConnectionString"
            connectionString="Data Source=DESKTOP-NTF36S4;Initial Catalog=BD_SistemaGerenciamento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>